body {
	overflow: hidden;
}

/* CSS */
.but {
	position: relative;
	background-color: #8bcece;
	border: 1px solid #8bcece;
	width: 100px;
	height: 50px;
	top: 200px;
	left: 100px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-37:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
	.button-37 {
		padding: 10px 30px;
	}
}

.signupDiv,
.loginDiv {
	position: absolute;
	background-color: #444;
	width: 300px;
	height: 500px;
	left: calc(50vw - 150px);
	transition: transform 1s ease;
}

.loginDiv {
	top: 20vh;
}

.signupDiv {
	top: -80vh;
}

.centerDiv {
	transform: translateY(100vh);
}
