.header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 60px;
	background-color: #e2d9cf;
	white-space: nowrap;
	overflow: hidden;
}

.tab {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 100%;
	background: none;
	border: none;
	transform: translateX(40px);
}

.tabSvg {
	position: absolute;
	max-height: 80%;
	bottom: 0px;
	left: 0;
}

.tabLink {
	text-decoration: none;
}

.tabText {
	position: relative;
	z-index: 10;
	top: 13%;

	color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 1.4rem;
}

.tab:hover.opacity {
	opacity: 70%;
}

.opacity {
	opacity: 50%;
}

.logout {
	position: absolute;
	display: inline-block;
	top: calc((60px - 70%) / 2);
	right: 20px;
	width: 100px;
	height: 70%;
	background-color: #709e53;
	border: none;
	border-radius: 17px;

	color: white;
	font-size: 1.1rem;
}

.logout:hover {
	background-color: #5f8646;
}
